<div class="production-page">

    <!-- HEADER -->

    <div class="d-flex flex-column flex-lg-row
    justify-content-between align-items-lg-center
    gap-3 mb-4">

        <div>

            <h2 class="fw-bold mb-1">

                <i class="bi bi-grid-3x3-gap-fill me-2"></i>
                Produção

            </h2>

            <p class="text-muted mb-0">

                Workflow visual da produção 3D

            </p>

        </div>

        <div class="d-flex gap-2">

            <button class="btn btn-outline-primary" (click)="openModalColumn()">

                <i class="bi bi-columns-gap me-2"></i>
                Nova coluna

            </button>

            <button class="btn btn-primary" (click)="addCard()" [disabled]="!columns.length">

                <i class="bi bi-plus-circle me-2"></i>
                Nova produção

            </button>

        </div>

    </div>

    <!-- BOARD -->

    <div class="kanban-board" cdkDropListGroup>

        @for (column of columns; track column.id) {

        <div class="kanban-column">

            <!-- HEADER -->

            <div class="kanban-column-header" [style.borderColor]="column.columnColor">

                <div class="d-flex align-items-center gap-2">

                    <div class="column-indicator" [style.background]="column.columnColor">
                    </div>

                    <div>

                        <h5 class="mb-0">
                            {{ column.columnName }}
                        </h5>

                        <small class="text-muted">

                            {{ column?.cards?.length }} cards

                        </small>

                    </div>

                </div>

                <div class="dropdown">

                    <button class="btn btn-sm btn-icon" data-bs-toggle="dropdown">

                        <i class="bi bi-three-dots"></i>

                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>

                            <button class="dropdown-item" (click)="editColumn(column)">
                                <i class="bi bi-pencil me-2"></i>
                                Editar
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item text-danger" (click)="removeColumn(column.id)">
                                <i class="bi bi-trash me-2"></i>
                                Excluir
                            </button>
                        </li>
                    </ul>

                </div>

            </div>

            <!-- BODY -->

            <div class="kanban-column-body" cdkDropList [cdkDropListData]="column.cards" [id]="'column-' + column.id"
                [cdkDropListConnectedTo]="connectedDropListsIds" (cdkDropListDropped)="drop($event, column)">

                @for (card of column.cards; track card.id) {

                <div class="kanban-card" cdkDrag>

                    <!-- TOP -->

                    <div class="d-flex justify-content-between ">
                        <span class="status-badge">
                            #{{ card.id }} 
                        </span>
                        <h5 class="fw-bold mb-1">
                            {{ card.productName }}
                        </h5>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-icon" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button class="dropdown-item" (click)="editCard(card)">
                                        <i class="bi bi-pencil-square"></i>
                                        Editar
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-danger" (click)="removeCard(card.id)">
                                        <i class="bi bi-trash me-2"></i>
                                        Excluir
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- META -->

                    <div class="kanban-meta">
                        <div class="kanban-meta-item col-md-4">
                            OS: {{osTemplate(card.serviceOrderId)}}
                        </div>
                        <div class="kanban-meta-item col-md-3">
                            <i class="bi bi-box-seam"></i>
                            <span>
                                {{ card.quantity }} un
                            </span>
                        </div>

                        <div class="kanban-meta-item col-md-3">
                            <i class="bi bi-clock-history"></i>
                            <span>
                                {{ formatHoursToDuration(card.estimatedMinutes ) }}
                            </span>
                        </div>

                    </div>
                    <div class="kanban-meta">
                        <div class="kanban-meta-item col-md-12">
                            <small class="text-muted">
                                <i class="bi bi-person me-2"></i> {{ card.clientName }}
                            </small>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between ">
                            <small class="text-muted">
                                Produção
                            </small>
                            <small class="fw-semibold">
                                {{ card.productionProgress || 0 }}%
                            </small>
                        </div>

                        <div class="progress">
                            <div class="progress-bar" [style.width.%]="card.productionProgress || 0">
                            </div>
                        </div>
                    </div>
                    <div class="kanban-footer">
                        <small class="text-muted">
                            Criado em
                            {{ card.createdAt | date:'dd/MM/yyyy HH:mm' }}
                        </small>
                    </div>
                </div>
                }

            </div>

        </div>

        }

    </div>

</div>

<!-- MODAL -->

<div class="modal fade" id="createColumnModal" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h1 class="modal-title fs-5">

                    Criar Coluna

                </h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">
                        Nome
                    </label>
                    <input type="text" class="form-control" placeholder="Nome da coluna" [(ngModel)]="columnName">
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Column Status
                    </label>
                    <select name="" id="" class="form-select" [(ngModel)]="typeColumn">
                        <option [ngValue]="''" disabled>Selecione</option>
                        <option *ngFor="let ct of columnsTypes" [ngValue]="ct.id">{{ct.label}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Cor da coluna
                    </label>
                    <div class="color-picker">
                        @for (color of availableColors; track color) {

                        <button type="button" class="color-option" [class.active]="selectedColumnColor === color"
                            [style.background]="color" (click)="selectedColumnColor = color">
                            <i *ngIf="selectedColumnColor === color" class="bi bi-check-lg">
                            </i>
                        </button>

                        }

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">

                    Cancelar

                </button>

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addColumn()">

                    Adicionar

                </button>

            </div>

        </div>

    </div>

</div>

<div class="offcanvas offcanvas-end kanban-editor" tabindex="-1" id="editCardOffcanvas">

    <div class="offcanvas-header border-bottom">
        <div>
            <h4 class="fw-bold mb-1">
                Editar Produção
            </h4>
            <small class="text-muted">
                Atualize os dados do card
            </small>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
        </button>
    </div>

    <div class="offcanvas-body">
        <form [formGroup]="formCard" (ngSubmit)="saveCard()">

            @if(selectedCard){

            <div class="mb-4">
                <label>OS</label>
                <select name="orderSelect" id="orderSelect" class="form-select" (change)="changeOrder()"
                    formControlName="serviceOrderId">
                    <option [value]="null" disabled>Selecione</option>
                    <option *ngFor="let o of ordersComboOpen" [value]="o.id">OS:{{o.id }}-{{o.clienteNome}}</option>
                </select>
            </div>

            <div class="mb-4">
                <label>Board</label>
                <select name="columSelect" id="columSelect" class="form-select" (change)="changeOrder()"
                    formControlName="kanbanColumnId">
                    <option [value]="null" disabled>Selecione</option>
                    <option *ngFor="let c of columns" [value]="c.id">{{c.columnName}}</option>
                </select>
            </div>

            <!-- BLOQUEIO -->
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" formControlName="blocked">
                <label class="form-check-label">
                    Card bloqueado
                </label>
            </div>

            <!-- MOTIVO -->

            @if(formCard.get('blocked')?.value){

            <div class="mb-4">

                <label class="form-label">
                    Motivo do bloqueio
                </label>

                <textarea class="form-control" rows="3" formControlName="blockedReason">
      </textarea>

            </div>

            }

            <!-- NOTES -->

            <div class="mb-4">

                <label class="form-label">
                    Observações
                </label>

                <textarea class="form-control" rows="5" formControlName="notes">
      </textarea>

            </div>

            <!-- SAVE -->

            <button class="btn btn-primary w-100" type="submit">

                <i class="bi bi-floppy me-2"></i>

                Salvar alterações

            </button>

            }
        </form>
    </div>

</div>