<div class="container-fluid py-4">
    <app-toast></app-toast>
    <!-- =====================================================
         HEADER
    ====================================================== -->

    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center gap-3 mb-4">
        <div>
            <h2 class="fw-bold mb-1">
                Inventário
            </h2>
            <p class="text-muted mb-0">
                Gerencie recursos de produção
            </p>
        </div>
        <button class="btn btn-primary" (click)="openInventoryModal()">
            <i class="bi bi-plus-circle me-2"></i>
            Novo item
        </button>
    </div>

    <!-- =====================================================
         FILTERS
    ====================================================== -->

    <div class="inventory-card mb-4">

        <div class="row g-3">

            <!-- SEARCH -->

            <div class="col-12 col-lg-8">

                <input type="text" (keydown)="loadInventory()" (keypress)="loadInventory()" (keyup)="loadInventory()"
                    class="form-control" placeholder="Buscar item..." [(ngModel)]="search">

            </div>


            <!-- CATEGORY -->

            <div class="col-12 col-lg-4">

                <div class="dropdown w-100">

                    <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start filter-dropdown"
                        type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">

                        {{ getCategoriasSelecionadasLabel() }}

                    </button>

                    <div class="dropdown-menu w-100 p-3 shadow" style="max-height: 300px; overflow-y: auto;">

                        <div class="form-check mb-2" *ngFor="let c of categorias">

                            <input *ngIf="c.id" class="form-check-input" type="checkbox" [id]="'categoriaId' + c.id"
                                [checked]="selectedCategorias.includes(c.id)" (change)="toggleCategoria(c.id)">

                            <label class="form-check-label" [for]="'categoriaId' + c.id">

                                {{ c.nome }}

                            </label>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- =====================================================
         TABLE
    ====================================================== -->

    <div class="inventory-card">
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th role="button" (click)="sort('name')">
                            Produto
                            <i *ngIf="sortField === 'name'" class="bi" [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th role="button" (click)="sort('categoria.nome')">
                            Categoria
                            <i *ngIf="sortField === 'categoria.nome'" class="bi"
                                [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th role="button" (click)="sort('quantity')">
                            Estoque
                            <i *ngIf="sortField === 'quantity'" class="bi" [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th role="button" (click)="sort('stockLevel')">
                            Nível
                            <i *ngIf="sortField === 'stockLevel'" class="bi"
                                [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th>
                            Local
                        </th>
                        <th role="button" (click)="sort('cost')">
                            Custo
                            <i *ngIf="sortField === 'cost'" class="bi" [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th role="button" (click)="sort('unitCost')">
                            Custo Unit.
                            <i *ngIf="sortField === 'cost'" class="bi" [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th role="button" (click)="sort('active')">
                            Status
                            <i *ngIf="sortField === 'active'" class="bi" [class.bi-arrow-up]="sortDirection === 'asc'"
                                [class.bi-arrow-down]="sortDirection === 'desc'">
                            </i>
                        </th>
                        <th class="text-end">
                            Ações
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @for(
                    item of inventory;
                    track item.id
                    ) {

                    <tr>

                        <!-- PRODUCT -->
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <img [src]="resolveImage(item.imageUrl)" class="inventory-image inventory-clickable"
                                    (click)="openImageModal(item.imageUrl)">
                                <div>
                                    <h6 class="mb-1">
                                        {{ item.name }}
                                    </h6>
                                    <small class="text-muted">
                                        {{ item.supplier }}
                                    </small>
                                </div>
                            </div>
                        </td>

                        <!-- CATEGORY -->

                        <td>

                            {{ item.categoria?.nome }}

                        </td>

                        <!-- STOCK -->

                        <td>

                            <strong>

                                {{ item.quantity }}
                                {{ item.unit | unitLabel }}

                            </strong>

                            <div class="text-muted small">

                                Min:
                                {{ item.minimumStock }}
                                {{ item.unit | unitLabel }}

                            </div>

                        </td>

                        <!-- LEVEL -->

                        <td width="220">

                            <div class="d-flex align-items-center gap-3">

                                <div class="progress flex-grow-1">

                                    <div class="progress-bar" [class.bg-success]="getStockVariant(item) === 'success'"
                                        [class.bg-warning]="getStockVariant(item) === 'warning'"
                                        [class.bg-danger]="getStockVariant(item) === 'danger'"
                                        [style.width.%]="getStockPercentage(item)">

                                    </div>


                                </div>

                                <small>

                                    {{
                                    getStockPercentage(item)
                                    | number:'1.0-0'
                                    }}%

                                </small>

                            </div>

                        </td>

                        <!-- LOCATION -->

                        <td>
                            <a *ngIf="item.location" [href]="item.location" target="_blank">Link do Fornecedor</a>
                        </td>
                        <!-- COST -->
                        <td>
                            {{ item.cost | currency:'BRL'}}
                        </td>
                        <!-- UNIT COST -->
                        <td>
                            {{ item.unitCost | currency:'BRL'}}
                        </td>
                        <!-- STATUS -->
                        <td>

                            @if(item.active) {

                            <span class="badge bg-success-subtle text-success">

                                Ativo

                            </span>

                            } @else {

                            <span class="badge bg-danger-subtle text-danger">

                                Inativo

                            </span>

                            }

                        </td>

                        <!-- ACTIONS -->

                        <td class="text-end">

                            <div class="d-flex justify-content-end gap-2">

                                <button class="btn btn-sm btn-outline-primary" title="Editar"
                                    (click)="selectInventoryEdit(item)">
                                    <i class="bi bi-pencil"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-danger" title="Excluir"
                                    (click)="abrirModalRemoveInventario(item)">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-success" title="Entrada de Estoque"
                                    (click)="abrirModalStock(item)">
                                    <i class="bi bi-box-arrow-in-down"></i>
                                </button>

                            </div>

                        </td>

                    </tr>

                    }

                </tbody>

            </table>

        </div>
        <!-- EMPTY -->

        @if(inventory.length === 0) {

        <div class="empty-state">

            <i class="bi bi-box-seam"></i>

            <h5>
                Nenhum item encontrado
            </h5>

            <p>
                Cadastre itens para iniciar o controle de inventário
            </p>

        </div>

        }
        <!-- PAGINATION -->

        <div class="d-flex justify-content-between align-items-center mt-4">

            <small class="text-muted">

                Exibindo

                {{ inventory.length }}

                de

                {{ totalElements }}

                registros

            </small>

            <div class="d-flex gap-2">

                <button class="btn btn-outline-primary btn-sm" [disabled]="currentPage === 1"
                    (click)="changePage(currentPage - 1)">

                    <i class="bi bi-chevron-left"></i>

                </button>

                <button *ngFor="let page of pages" class="btn btn-sm" [class.btn-primary]="page === currentPage"
                    [class.btn-outline-primary]="page !== currentPage" (click)="changePage(page)">

                    {{ page }}

                </button>

                <button class="btn btn-outline-primary btn-sm" [disabled]="currentPage === totalPages"
                    (click)="changePage(currentPage + 1)">

                    <i class="bi bi-chevron-right"></i>

                </button>

            </div>
            <div class="d-flex align-items-center gap-2">

                <small>
                    Itens por página
                </small>

                <select class="form-select form-select-sm" style="width: 90px" [(ngModel)]="pageSize"
                    (change)="changePageSize()">

                    <option [value]="5">5</option>

                    <option [value]="10">10</option>

                    <option [value]="20">20</option>

                    <option [value]="50">50</option>

                </select>

            </div>
        </div>

    </div>

</div>

<!-- MODAL -->

<app-inventory-modal (save)="reloadInventory()" [inventorySelected]="inventorySelecionado"></app-inventory-modal>
<app-stock-modal (save)="loadInventory()" [inventorySelected]="inventorySelecionado"></app-stock-modal>


<div class="modal fade" id="inventarioModalExclusao" aria-labelledby="inventarioModalExclusao" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja remover este item do inventário?
                    <strong>"{{inventorySelecionado?.name}}"</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="removerInventario(inventorySelecionado?.id)">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inventoryImageModal" data-bs-keyboard="true" aria-labelledby="inventoryImageModal"
    aria-hidden="true" data-bs-backdrop="true" data-bs-dismiss="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0 shadow-none">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-0">
                <img *ngIf="selectedImagePreview" [src]="selectedImagePreview"
                    class="img-fluid rounded shadow-lg inventory-preview-image">
            </div>

        </div>
    </div>
</div>