<div class="modal fade" id="inventoryModal" tabindex="-1">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content app-modal">

      <!-- HEADER -->

      <div class="modal-header border-0">

        <div>

          <h4 class="fw-bold mb-1">
            Novo Item de Estoque
          </h4>

          <p class="text-muted mb-0">
            Cadastre um recurso para produção
          </p>
        </div>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
        </button>

      </div>

      <!-- BODY -->

      <div class="modal-body pt-0">

        <form [formGroup]="form" class="row g-3">

          <!-- IMAGE -->
          <div class="col-12">


            <div class="inventory-image" #pasteArea tabindex="0" (paste)="onPaste($event)">

              @if(imagePreview) {

              <img [src]="imagePreview">

              } @else {

              <div class="image-placeholder">

                <i class="bi bi-box-seam"></i>

                <small>
                  CTRL + V ou selecione uma imagem
                </small>

              </div>

              }

            </div>

            <label class="btn btn-outline-primary w-100 mt-3">

              <i class="bi bi-upload me-2"></i>

              Selecionar imagem

              <input hidden type="file" accept="image/*" (change)="onImageChange($event)">

            </label>

          </div>

          <!-- NAME -->

          <div class="col-12">

            <label class="form-label">
              Nome
            </label>

            <input type="text" class="form-control"
              [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched" formControlName="name"
              placeholder="PLA Preto 1kg">
            <div class="invalid-feedback">
              Nome é obrigatório
            </div>
          </div>

          <!-- CATEGORY -->

          <div class="col-md-6">

            <label class="form-label">
              Categoria
            </label>

            <select class="form-select" formControlName="categoriaId"
              [class.is-invalid]="form.get('categoriaId')?.invalid && form.get('categoriaId')?.touched">
              <option [value]="null" disabled>Selecione</option>
              <option *ngFor="let c of categorias" [value]="c.id"> {{c.nome}}</option>

            </select>
            <div class="invalid-feedback">
              Categoria é obrigatório
            </div>
          </div>

          <!-- UNIT -->

          <div class="col-md-6">

            <label class="form-label">
              Unidade
            </label>

            <select class="form-select" formControlName="unit"
              [class.is-invalid]="form.get('unit')?.invalid && form.get('unit')?.touched">

              <option value="GRAMA">
                Gramas
              </option>

              <option value="QUILOGRAMA">
                Quilos
              </option>

              <option value="UNIDADE">
                Unidade
              </option>

              <option value="METRO">
                Metro
              </option>

            </select>
            <div class="invalid-feedback">
              Un. Medida é obrigatório
            </div>
          </div>

          <!-- QUANTITY -->

          <div class="col-md-6">

            <label class="form-label">
              Quantidade
            </label>

            <input type="number" class="form-control" formControlName="quantity"
              [class.is-invalid]="form.get('quantity')?.invalid && form.get('quantity')?.touched">
            <div class="invalid-feedback">
              Quantidade é obrigatório
            </div>
          </div>

          <!-- MINIMUM -->

          <div class="col-md-6">

            <label class="form-label">
              Estoque mínimo
            </label>

            <input type="number" class="form-control" formControlName="minimumStock"
              [class.is-invalid]="form.get('minimumStock')?.invalid && form.get('minimumStock')?.touched">
            <div class="invalid-feedback">
              Estoque Mínimo é obrigatório
            </div>
          </div>

          <!-- COST -->

          <div class="col-md-6">

            <label class="form-label">
              Custo
            </label>

            <div class="input-group">

              <span class="input-group-text">
                R$
              </span>

              <input type="number" class="form-control" formControlName="cost"
                [class.is-invalid]="form.get('cost')?.invalid && form.get('cost')?.touched">
              <div class="invalid-feedback">
                Custo é obrigatório
              </div>
            </div>

          </div>

          <!-- SUPPLIER -->

          <div class="col-md-6">
            <label class="form-label">
              Fornecedor
            </label>

            <input type="text" class="form-control" formControlName="supplier">
          </div>

          <!-- LOCATION -->

          <div class="col-12">

            <label class="form-label">
              Localização
            </label>

            <input type="text" class="form-control" formControlName="location" placeholder="Prateleira A-02">

          </div>

          <!-- ACTIVE -->

          <div class="col-12">

            <div class="form-check form-switch">

              <input type="checkbox" class="form-check-input" formControlName="active">

              <label class="form-check-label">
                Item ativo
              </label>

            </div>

          </div>

        </form>

      </div>

      <!-- FOOTER -->

      <div class="modal-footer border-0">

        <button class="btn btn-outline-secondary" (click)="fecharModal()">

          Cancelar

        </button>

        <button class="btn btn-primary" [disabled]="loading || form.invalid" (click)="submit()">

          @if(loading) {

          <span class="spinner-border spinner-border-sm me-2">
          </span>

          }

          Salvar item

        </button>

      </div>

    </div>

  </div>

</div>