<div class="stock-progress-wrapper">

  @if(showLabel) {

    <div class="progress-label">

      <span>
        Estoque
      </span>

      <span>
        {{ value | number:'1.0-0' }}%
      </span>

    </div>

  }

  <div
    class="stock-progress"
    [style.height.px]="height">

    <div
      class="stock-progress-bar"
      [class.success]="status === 'success'"
      [class.warning]="status === 'warning'"
      [class.danger]="status === 'danger'"
      [style.width]="progressWidth">
    </div>

  </div>

</div>