.modal-tabs {

  display: flex;

  gap: 1rem;

  margin-bottom: 2rem;

  overflow-x: auto;
}

.tab-btn {

  border: none;

  background:
    rgba(var(--bs-body-color-rgb), .04);

  color:
    var(--bs-body-color);

  padding:
    .9rem 1.25rem;

  border-radius: 1rem;

  transition: .2s;

  white-space: nowrap;
}

.tab-btn.active {

  background:
    rgba(var(--bs-primary-rgb), .15);

  color:
    var(--bs-primary);
}

.composition-card {

  background:
    rgba(var(--bs-body-color-rgb), .03);

  border:
    1px solid rgba(var(--bs-border-color-rgb), .4);

  border-radius: 1.25rem;

  padding: 1rem;

  margin-bottom: 1rem;
}

.pricing-card {

  background:
    rgba(var(--bs-body-color-rgb), .03);

  border:
    1px solid rgba(var(--bs-border-color-rgb), .4);

  border-radius: 1rem;

  padding: 4%;
}

/* =========================================================
   IMAGE CARD
========================================================= */

.product-image-card {

  background:
    rgba(var(--bs-body-color-rgb), .03);


  border: 2px dashed rgba(255, 255, 255, .15);

  border-radius: 18px;
  padding: 1rem;
  transition: .2s;

  &:focus {
    border-color: var(--bs-primary);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  opacity: .7;
}

/* =========================================================
   PREVIEW
========================================================= */

.image-preview {

  width: 100%;

  aspect-ratio: 1 / 1;

  border-radius: 1.25rem;

  overflow: hidden;

  background:
    rgba(var(--bs-body-color-rgb), .04);

  display: flex;

  align-items: center;
  border:
    1px solid rgba(var(--bs-border-color-rgb), .5);
  justify-content: center;

}

.image-preview img {

  width: 100%;

  height: 100%;

  object-fit: cover;
}

/* =========================================================
   EMPTY IMAGE
========================================================= */

.empty-image {

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 1rem;

  color:
    var(--bs-secondary-color);
}

.empty-image i {
  font-size: 4rem;
  color: var(--bs-primary);
}

.pricing-suggestion-card {

  background: #0f172a;

  border-radius: 18px;

  padding: 20px;

  border: 1px solid rgba(255, 255, 255, 0.06);

  cursor: pointer;

  transition: all .2s ease;
}

.pricing-suggestion-card:hover {

  transform: translateY(-4px);

  border-color: #3b82f6;

  box-shadow: 0 10px 30px rgba(59, 130, 246, .15);
}