<div class="login-page">
<app-toast></app-toast>
    <!-- Painel esquerdo -->
    <div class="login-banner">

        <div class="banner-content">

            <!-- <img src="assets/img/logo.png" alt="Logo" class="logo"> -->

            <h1>ERSO ERP</h1>

            <p>
                Gerencie produção, estoque, ordens de serviço
                e vendas em um único lugar.
            </p>

        </div>

    </div>

    <!-- Painel direito -->
    <div class="login-form-container">

        <div class="login-card">

            <h2>Entrar</h2>

            <p class="subtitle">
                Faça login para acessar sua conta
            </p>

            <form [formGroup]="form" (ngSubmit)="login()">

                <div class="mb-3">

                    <label class="form-label">
                        Usuário
                    </label>
                    <input formControlName="email" type="text" class="form-control" placeholder="Digite seu usuário">
                </div>

                <div class="mb-4">

                    <label class="form-label">
                        Senha
                    </label>

                    <input formControlName="password" type="password" class="form-control" placeholder="Digite sua senha">

                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Entrar
                </button>
            </form>
            <div class="register-link">
                Ainda não é registrado?
                <a routerLink="/register">
                    <strong class="text-primary">Clique aqui para se registrar</strong>
                </a>
            </div>
        </div>

    </div>

</div>