<div class="sidebar d-flex flex-column p-3">
    <div class="logo mb-4 text-center">
        <h4 class="fw-bold text-primary mb-0 ">
            <img src="assets/img/logo.png" class="img-circle">
        </h4>
        <small class="text-muted">
            Gestão de Produção
        </small>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column gap-2">
        <li class="nav-item  ">
            @for(menu of menus; track $index){
            <a [id]="menu.id" *ngIf="menu.visible" [routerLink]="menu.link" class="nav-link" routerLinkActive="active">
                <i [class]="menu.icon + ' me-2'"></i>
                {{menu.name}}
            </a>


            }   

        </li>
    </ul>

</div>