<div class="sidebar d-flex flex-column p-3">
    <div class="logo mb-4 text-center">
        <h4 class="fw-bold text-primary mb-0 ">
            <img src="assets/img/logo.png" class="img-circle">
        </h4>
        <small class="text-muted">
            Gestão de Produção
        </small>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column gap-2">
        <li class="nav-item  ">
            @for(menu of menus; track $index){
            <a [id]="menu.id" *ngIf="menu.visible" [routerLink]="menu.link" class="nav-link" routerLinkActive="active">
                <i [class]="menu.icon + ' me-2'"></i>
                {{menu.name}}
            </a>
            }

            <!-- <a  class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                <i class="bi bi-grid me-2"></i>
                Dashboard
            </a> -->
            <!-- <a  class="nav-link" routerLink="/categorias" routerLinkActive="active">
                <i class="bi bi-tags me-2"></i>
                Categorias
            </a>
            <a class="nav-link" routerLink="/clientes" routerLinkActive="active">
                <i class="bi bi-people me-2"></i>
                Clientes
            </a>
            <a *ngIf="verifyResponse?.hasCategorias" class="nav-link" routerLink="/produtos" routerLinkActive="active">
                <i class="bi bi-box me-2"></i>
                Produtos
            </a>
            <a  class="nav-link" routerLink="/calculos" routerLinkActive="active">
                <i class="bi bi-calculator me-2"></i>
                Cálculos
            </a>
            <a class="nav-link" routerLink="/kanban" routerLinkActive="active">
                <i class="bi bi-lightbulb me-2"></i>
                Produção
            </a>
            <a class="nav-link" routerLink="/orderService" routerLinkActive="active">
                <i class="bi bi-journal-check me-2"></i>
                Ordens de Serviço
            </a> -->
            <!-- <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">
                <i class="bi bi-journal-check me-2"></i>
                Catálogo
            </a> -->

            <!-- <a class="nav-link " routerLink="/inventario" routerLinkActive="active">
                <i class="bi bi-box-seam me-2"></i>
                Inventário/Estoque
            </a>

            <a class="nav-link " routerLink="/relatorios" routerLinkActive="active">
                <i class="bi bi-journal me-2"></i>
                Relatórios
            </a> -->

        </li>
    </ul>

</div>