<div class="sidebar d-flex flex-column p-3">
    <div class="logo mb-4 text-center">
        <h4 class="fw-bold text-primary mb-0 ">
            <img src="assets/img/logo.jpg" class="img-circle">
        </h4>
        <small class="text-muted">
            Gestão de Produção 3D
        </small>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column gap-2">
        <li class="nav-item  ">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                <i class="bi bi-grid me-2"></i>
                Dashboard
            </a>

            <a class="nav-link" routerLink="/produtos" routerLinkActive="active">
                <i class="bi bi-box me-2"></i>
                Produtos
            </a>
            <a class="nav-link" routerLink="/categorias" routerLinkActive="active">
                <i class="bi bi-tags me-2"></i>
                Categorias
            </a>
            <a class="nav-link" routerLink="/calculos" routerLinkActive="active">
                <i class="bi bi-calculator me-2"></i>
                Cálculos
            </a>
            <a class="nav-link" routerLink="/producao" routerLinkActive="active">
                <i class="bi bi-cpu me-2"></i>
                Produção
            </a>
            <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">
                <i class="bi bi-journal-check me-2"></i>
                Catálogo
            </a>
            
            <a class="nav-link " routerLink="/inventario" routerLinkActive="active">
                <i class="bi bi-box-seam me-2"></i>
                Inventário/Estoque
            </a>

            <a class="nav-link " routerLink="/relatorios" routerLinkActive="active">
                <i class="bi bi-journal me-2"></i>
                Relatórios
            </a>


        </li>
    </ul>

</div>