<div class="settings-card">

    <h4>Empresa</h4>

    <p class="text-muted">
        Informações utilizadas em relatórios e documentos.
    </p>

    <div class="row g-3">

        <div class="col-md-6">

            <label class="form-label">
                Nome Fantasia
            </label>

            <input
                class="form-control">

        </div>

        <div class="col-md-6">

            <label class="form-label">
                Razão Social
            </label>

            <input
                class="form-control">

        </div>

        <div class="col-md-6">

            <label class="form-label">
                CNPJ
            </label>

            <input
                class="form-control">

        </div>

        <div class="col-md-6">

            <label class="form-label">
                Telefone
            </label>

            <input
                class="form-control">

        </div>

    </div>

</div>