<app-toast></app-toast>

<div class="pricing-wizard">
    <aside class="wizard-sidebar">

        <div *ngFor="let step of steps; let i = index" class="wizard-step" [class.completed]="step.completed"
            [class.active]="currentStep === i" [class.disabled]="!step.enabled">

            <div class="wizard-circle">

                <i *ngIf="step.completed" class="bi bi-check-lg">
                </i>

                <span *ngIf="!step.completed">
                    {{ i + 1 }}
                </span>

            </div>

            <div class="wizard-content">

                <h6>
                    {{ step.title }}
                </h6>

                <small>
                    {{ step.description }}
                </small>

            </div>

        </div>

    </aside>

    <section class="wizard-body">

        <ng-container [ngSwitch]="currentStep">

            <app-rules (nextStep)="onNextStep($event)" [payload]="payload" *ngSwitchCase="0">
            </app-rules>

            <app-operational-cost (nextStep)="onNextStep($event)" 
            (backStep)="backStep($event)" [payload]="payload"
                *ngSwitchCase="1">
            </app-operational-cost>

            <app-pricing-margin (nextStep)="onNextStep($event)"
             (backStep)="backStep($event)" [payload]="payload"
                *ngSwitchCase="2">
            </app-pricing-margin>

            <app-pricing-fees (nextStep)="onNextStep($event)"
             (backStep)="backStep($event)"
             [payload]="payload" *ngSwitchCase="3">
            </app-pricing-fees>

            <app-pricing-variables (nextStep)="onNextStep($event)"
             (backStep)="backStep($event)"
             [payload]="payload" *ngSwitchCase="4">
            </app-pricing-variables>

            <app-pricing-review [payload]="payload" 
            (backStep)="backStep($event)"
            (savePayload)="saveRule($event)" *ngSwitchCase="5">
            </app-pricing-review>
            <!-- 
            <app-pricing-simulation
                *ngSwitchCase="6">
            </app-pricing-simulation> -->

        </ng-container>

    </section>

</div>