<div class="dasboard-container fade-enter">
  <div id="dashboardHeader" class="dashboard-header">
    <div class="row">
      <div class="col-md-8 p-3">
        <h2>Dashboard</h2>
        <small class="text-muted">Visão geral de produção</small>
      </div>
      <div class="col-md-4 p-3">
        <app-range-datepicker></app-range-datepicker>
      </div>
    </div>
  </div>
  <div id="dashboard-cards" class="row g-3 mb-4">
    <div class="col-md-3">
      <div class="card p-3 shadow">
        <small class="text-muted"><i class="bi bi-currency-dollar me-2 text-primary"></i>Receita Total</small>
        <h4>{{0 | currency:'BRL'}}</h4>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 shadow">
        <small class="text-muted"><i class="bi bi-cart me-2 text-primary"></i>Custo de Produção</small>
        <h4>{{0 | currency:'BRL'}}</h4>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 shadow">
        <small class="text-muted"><i class="bi bi-graph-up-arrow me-2 text-primary"></i>Lucro Líquido</small>
        <h4>{{0 | currency:'BRL'}}</h4>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 shadow">
        <small class="text-muted"><i class="bi bi-percent me-2 text-primary"></i>Margem de Lucro</small>
        <h4>0%</h4>
      </div>
    </div>
  </div>
  <!-- QUICK ACTIONS -->
  <div class="quick-actions-grid">

    <div class="action-tile primary" (click)="clickRouterLink('/orderService')">
      <i class="bi bi-journal-check me-2"></i>
      <div>
        <h6>Ordem de Serviços</h6>
        <small>Gerenciar Serviços</small>
      </div>
    </div>
    <div class="action-tile primary" (click)="clickRouterLink('/kanban')">
      <i class="bi bi-lightbulb me-2"></i>
      <div>
        <h6>Produção</h6>
        <small>Gerenciar Produções</small>
      </div>
    </div>

    <div class="action-tile primary" (click)="clickRouterLink('/categorias')">
      <i class="bi bi-tags me-2"></i>
      <div>
        <h6>Categorias</h6>
        <small>Gerenciar categorias</small>
      </div>
    </div>

    <div class="action-tile primary" (click)="clickRouterLink('/inventario')">
      <i class="bi bi-box-seam me-2"></i>
      <div>
        <h6>Inventário/Estoque</h6>
        <small>Gerenciar base</small>
      </div>
    </div>
    <div class="action-tile primary" (click)="clickRouterLink('/clientes')">
      <i class="bi bi-people me-2"></i>
      <div>
        <h6>Clientes</h6>
        <small>Gerenciar base</small>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row g-4">
      <div class="col-md-6 p-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h6>Produtos</h6>
            <div class="table-responsive">
              <div *ngIf="!dashboard?.topProducts" class="text-center py-5">

                <i class="bi bi-box-seam fs-1 text-muted"></i>

                <h5 class="mt-3">
                  Nenhum produto encontrado
                </h5>
                <p class="text-muted mb-0">
                  Efetue vendas de seus produtos para aparecer no histórico
                </p>

              </div>
              <table *ngIf="dashboard?.topProducts!.length > 0 " class="table table-striped align-middle">
                <thead>
                  <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Popularidade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="align-middle clickable-row" *ngFor="let item of dashboard?.topProducts"
                    (click)="loadProductDashboard(item.product.productId)">
                    <th scope="row" class="product-image-cell ">
                      <img [src]="item.product.imagePreview" class="img-fluid img-thumbnail product-image rounded ">
                    </th>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.currentSalePrice| currency:'BRL'}}</td>
                    <td>
                      <app-rating [readonly]="true" [ngModel]="item.score">
                      </app-rating>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h6>Estoque</h6>
            <div class="table-responsive">
              <div *ngIf="!dashboard?.topInventorys" class="text-center py-5">

                <i class="bi bi-box-seam fs-1 text-muted"></i>

                <h5 class="mt-3">
                  Nenhum item encontrado
                </h5>
                <p class="text-muted mb-0">
                  Cadastre seu estoque para aparecer no histórico
                </p>

              </div>

              <table *ngIf="dashboard?.topInventorys!.length > 0" class="table table-striped align-middle">
                <thead>
                  <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Min.</th>
                    <th scope="col">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of dashboard?.topInventorys" class="align-middle clickable-row"
                    (click)="loadInventoryDashboard(i.id)">
                    <th scope="row" class="product-image-cell ">
                      <img [src]="i.imagePreview" class="img-fluid img-thumbnail product-image rounded ">
                    </th>
                    <td>{{i.name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.minimumStock}}</td>
                    <td>
                      <app-stock-progress [value]="getStockPercentage(i)">
                      </app-stock-progress>
                  <!-- <div class="d-flex align-items-center gap-3">

                                <div class="progress flex-grow-1">

                                    <div class="progress-bar" [class.bg-success]="getStockVariant(i) === 'success'"
                                        [class.bg-warning]="getStockVariant(i) === 'warning'"
                                        [class.bg-danger]="getStockVariant(i) === 'danger'"
                                        [style.width.%]="getStockPercentage(i)">

                                    </div>


                                </div>

                                <small>

                                    {{
                                    getStockPercentage(i)
                                    | number:'1.0-0'
                                    }}%

                                </small>

                            </div> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-product-modal-viewer [dashboard]="productDashboard"></app-product-modal-viewer>
<app-inventory-modal-viewer [dashboard]="inventoryDashboard"></app-inventory-modal-viewer>