<div class="modal fade" id="teamModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content app-modal">

            <!-- HEADER -->
            <div class="modal-header border-0">

                <div>

                    <h4 class="fw-bold mb-1">
                        Equipe Produção
                    </h4>

                    <p class="text-muted mb-0">
                        Gerencie os membros desta equipe
                    </p>

                </div>

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                </button>

            </div>

            <!-- BODY -->

            <div class="modal-body">

                <!-- NOVO MEMBRO -->

                <div class="card-member-add mb-4">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row g-3">
                            <div class="col-md-8">
                                <input type="email" formControlName="email" class="form-control"
                                    placeholder="Digite o e-mail do colaborador">
                            </div>
                            <div class="col-md-2">
                                <select name="selectUserRole" formControlName="userRole" id="selectUserRole" class="form-select">
                                    <option [value]="null" [disabled]="">Roles</option>
                                    <option [value]="'OWNER'">Proprietário</option>
                                    <option [value]="'ADMIN'">Administrador</option>
                                    <option [value]="'USER'">Usuário</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary w-100" type="submit" [disabled]="!form.get('email')?.value">
                                    <i class="bi bi-person-plus me-2"></i>
                                    Convidar
                                </button>
                            </div>

                        </div>
                    </form>

                </div>

                <!-- MEMBROS -->

                <div class="team-members">

                    <!-- OWNER -->
                    @for(member of members; track member.teamId){
                    <div class="member-item">

                        <div class="member-avatar">
                            {{getInitials(member.fullName)}}
                        </div>

                        <div class="member-info">

                            <strong>
                                {{member.fullName}}
                            </strong>

                            <small>
                                {{member.email}}
                            </small>

                        </div>

                        <div class="member-role">
                            @if(member.role == 'OWNER'){
                            <span class="badge text-bg-success">
                                {{formatRole(member.role)}}
                            </span>
                            }@else {
                            <span class="badge text-bg-primary">
                                {{formatRole(member.role)}}
                            </span>
                            }
                        </div>

                        <div class="member-actions">

                            <div class="dropdown">

                                <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="dropdown">

                                    <i class="bi bi-three-dots"></i>

                                </button>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <button class="dropdown-item">
                                            <i class="bi bi-eye me-2"></i>
                                            Visualizar Perfil
                                        </button>
                                    </li>
                                    @if(member.role != 'OWNER'){
                                    <li>
                                        <button class="dropdown-item" (click)="permissions()">
                                            <i class="bi bi-person-badge me-2"></i>
                                            Alterar Cargo
                                        </button>
                                    </li>

                                    <li>
                                        <button class="dropdown-item" (click)="permissions()">
                                            <i class="bi bi-shield-lock me-2"></i>
                                            Permissões
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" (click)="users()">
                                            <i class="bi bi-pencil-square me-2"></i>
                                            Editar Usuário
                                        </button>
                                    </li>

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>

                                        <button class="dropdown-item text-danger">

                                            <i class="bi bi-trash me-2"></i>

                                            Remover da Equipe

                                        </button>

                                    </li>
                                    }
                                </ul>

                            </div>

                        </div>

                    </div>
                    }
                </div>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer border-0">
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div>

    </div>

</div>